@import url("./specifications.css");

#app-header {
    background-color: var(--color-primary);
}

#app-header #logo-container {
    width: var(--base-size32);
    height: var(--base-size-32);
    margin-left: var(--base-size-8);
}

#logo-icon {
    background-color: transparent;
    border: none;
}

#searchButton-container {
    height: var(--base-size-32);
    padding: 5px 8px;
    border: var(--borderWidth-thin) solid var(--borderColor-quarter);;
    border-radius: var(--borderRadius-medium);
}

#searchButton {
    background-color: transparent;
    border: none;
    color: var(--borderColor-half);
}

#searchButton span {
    padding-right: 200px;
}

#createNewButton {
    width: var(--base-size-48);
}

#profile-container img{
    width: var(--base-size-32);
    height: var(--base-size-32);
    border-radius: var(--borderRadius-full);
}

.app-header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--base-size-32);
    height: var(--base-size-32);
    background-color: transparent;
    border: var(--borderWidth-thin) solid var(--borderColor-quarter);
    border-radius: var(--borderRadius-medium);
}

.app-header-button:hover {
    background-color: var(--control-bodyTransparent);
}

.app-header-buttonWithText {
    border: none;
    border-radius: var(--borderRadius-small);
}


.app-header-buttonWithText {
    padding: 4px 8px;
    color: var(--color-tertiary);
    background-color: transparent;
}

.app-header-buttonWithText:hover {
    background-color: var(--control-bodyTransparent);
}

#app-main {
    background-color: var(--color-primary);
    min-height: 100vh;
}

#app-sidebar {
    background-color: var(--color-secondary);
    width: 320px;
}

#app-sidebar-container {
    padding: var(--base-size-16) var(--base-size-24) 0;
    overflow-y: scroll;
    min-height: 100vh;  
}

#app-sidebar-header {
    margin-bottom: var(--base-size-4);
    margin-top: var(--base-size-32);
    color: var(--color-tertiary);
}

#app-sidebar-header-button {
    height: var(--base-size-28);
    padding: 0 8px;
    color: white;
    background-color: var(--color-accent);
    text-decoration: none;
    border-radius: var(--borderRadius-medium);
}


#app-sidebar-searchInput {
    width: 100%;
    margin-top: var(--base-size-8);
    padding: 5px 12px;
    border: var(--borderWidth-thin) solid var(--borderColor-quarter);
    border-radius: var(--borderRadius-medium);
    background-color: transparent;
    color: var(--color-linkSecondary);
}

.repo-list-item {
    margin-top: var(--base-size-8);
    list-style-type: none;
    overflow-wrap: break-word;
}

.repo-list-item img {
    border-radius: var(--borderRadius-full);
    margin-right: var(--base-size-8);
    width: var(--base-size-16);
    height: var(--base-size-16);
}

.repo-list-item a {
    font-size: 14px;
    font-weight: normal;
    color: var(--color-tertiary);
    text-decoration: none;
}

.repo-list-item a:hover {
    text-decoration: underline;
}

#showMore-button {
    text-align: left;
    width: 100%;
    margin-top: var(--base-size-16);
    background-color: transparent;
    color: var(--color-textPlaceholder);
    border: none;
}

#showMore-button:hover {
    color: var(--color-linkPrimary);
}

#app-sidebar-footer {
    margin-top: var(--base-size-24);
    color: var(--color-tertiary);
}

.recent-activity-container {
    margin-top: var(--base-size-8);
}

.activity-description .repo {
    color: var(--color-linkSecondary);
}

#app-content {
    flex: auto;
}

/* Apply this property to all button in app-content */
#app-content .buttonWithTextAndIcon {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: var(--borderWidth-thin) solid var(--borderColor-quarter);
    border-radius: var(--borderRadius-medium);
    background-color: var(--color-buttonWithTextAndIcon);
    color: var(--color-tertiary);
    font-weight: 600; /* semi-bold */
}

#app-content .buttonWithTextAndIcon:hover {
    border-color: var(--borderColor-half);
}

#app-content-container {
    max-width: calc(995px + 256px + 48px);
    margin-top: var(--base-size-16);
    padding: 0 var(--base-size-24);
}

#app-content-left {
    max-width: 680px;
    width: 100%;
    flex: auto;
    color: var(--color-tertiary);
}

.linkPrimary {
    color: var(--color-linkPrimary);
    text-decoration: none;
}

.linkPrimary:hover {
    text-decoration: underline;
}

#filter-icon {
    margin-right: var(--base-size-8);
}

#filter-button {
    padding: 5px 12px;
}

#counter {
    margin-left: var(--base-size-8);
    display: flex;
    flex-flow: row nowrap;
    background-color: #2e343e;
    border-radius: var(--borderRadius-full);
    padding: 0 6px;
}

#app-content-left-trend {
    padding: var(--base-size-8) var(--base-size-16);
    background-color: var(--color-secondary);
    border: var(--borderWidth-thin) solid var(--borderColor-quarter);
    border-radius: var(--borderRadius-medium);
}

.trend-repo {
    margin-top: var(--base-size-8);
    display: flex;
    flex-flow: row nowrap;
}

.trend-repo-description {
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
}

.repo-name {
    display: flex;
    gap: var(--base-size-8);
    align-items: center;
    font-weight: 600;
}

.user-img {
    width: var(--base-size-16);
    height: var(--base-size-16);
    background-color: white;
    border-radius: var(--borderRadius-full);
}

.user-info {
    font-size: 14px;
}

.repo-description {
    margin-top: var(--base-size-8);
    font-size: 14px;
    overflow-wrap: break-word;
}

.repo-sub-description {
    margin-top: var(--base-size-8);
    display: flex;
    align-items: center;
    gap: var(--base-size-8);
}

.repo-sub-description * {
    font-size: 12px;
}

.repo-programLanguage {
    margin-right: var(--base-size-16);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--base-size-4);
}

.programLanguageColor {
    width: var(--base-size-12);
    height: var(--base-size-12);
    background-color: aqua;
    border: none;
    border-radius: var(--borderRadius-full);
}

.languageName {
    color: var(--color-linkSecondary);
}

.star-count-container {
    display: flex;
    align-items: center;
    gap: var(--base-size-4);
}

.star-count {
    color: var(--color-linkSecondary);
}

.star-button-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    align-self: flex-start;
    background-color: var(--color-buttonWithTextAndIcon);
    border-radius: var(--borderRadius-medium);
}

.star-button {
    padding: 3px 12px;
    display: flex;
    align-items: center;
    gap: var(--base-size-8);
    border: var(--borderWidth-thin) solid var(--borderColor-quarter);
    border-top-left-radius: var(--borderRadius-medium);
    border-bottom-left-radius: var(--borderRadius-medium);
}

.star-button:hover {
    border-color: var(--borderColor-half);
}

.star-button * {
    font-weight: 600;
    font-size: var(--base-size-12);
}

.dropdown-button {
    padding: 3px 8px;
    display: flex;
    align-items: center;
    border: var(--borderWidth-thin) solid var(--borderColor-quarter);
    border-top-right-radius: var(--borderRadius-medium);
    border-bottom-right-radius: var(--borderRadius-medium);
}
.dropdown-button:hover {
    border-color: var(--borderColor-half);
}

#app-content-right {
    max-width: 315px;
}