#app-header {
    background-color: var(--color-primary);
    box-shadow: inset 0 calc(var(--borderWidth-thin) * -1) var(--borderColor-quarter);
}

#app-header #logo-container {
    width: var(--base-size32);
    height: var(--base-size-32);
    margin-left: var(--base-size-8);
}

#logo-icon {
    background-color: transparent;
    border: none;
}

#searchButton-container {
    height: var(--base-size-32);
    padding: 5px 8px;
    border: var(--borderWidth-thin) solid var(--borderColor-quarter);;
    border-radius: var(--borderRadius-medium);
}

#searchButton {
    background-color: transparent;
    border: none;
    color: var(--borderColor-half);
}

#searchButton span {
    padding-right: 150px;
}

#createNewButton {
    width: var(--base-size-48);
}

#profile-container img{
    width: var(--base-size-32);
    height: var(--base-size-32);
    border-radius: var(--borderRadius-full);
}

.app-header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--base-size-32);
    height: var(--base-size-32);
    background-color: transparent;
    border: var(--borderWidth-thin) solid var(--borderColor-quarter);
    border-radius: var(--borderRadius-medium);
}

.app-header-button:hover {
    background-color: var(--control-bodyTransparent);
}

.app-header-buttonWithText {
    border: none;
    border-radius: var(--borderRadius-small);
}


.app-header-buttonWithText {
    padding: 4px 8px;
    color: var(--color-tertiary);
    background-color: transparent;
}

.app-header-buttonWithText:hover {
    background-color: var(--control-bodyTransparent);
}

/* FORM PROPERTIES */

#form-container {
    background-color: var(--color-blackSecondary);
    padding-top: var(--base-size-40);
}

form {
    max-width: 768px;
    padding: 0 var(--base-size-32);
    margin-right: auto;
    margin-left: auto;
}

#form-header-container {
    padding-bottom: var(--base-size-8);
    margin-bottom: var(--base-size-8);
    border-bottom: 1px solid rgb(33, 38, 45);
}

#form-body-container {
    margin-top: var(--base-size-8);
}

#form-body fieldset {
    border: none;
}

#repo-owner-button {
    margin-top: var(--base-size-4);
    padding: 0 var(--base-size-12);
    height: var(--base-size-32);
    min-width: max-content;
    border: var(--borderWidth-thin) solid var(--borderColor-quarter);
    border-radius: var(--borderRadius-medium);
    background-color: var(--color-blackTertiary);
}

#repo-owner-button #profile-img {
    margin-right: var(--base-size-8);
    width: var(--base-size-20);
    height: var(--base-size-20);
    border-radius: var(--borderRadius-full);
}

#slash {
    margin: 0 var(--base-size-8);
    margin-top: 21px;
}

#repo-name-input {
    padding: 1px var(--base-size-12);
    margin-top: var(--base-size-4);
    width: 100%;
    background-color: var(--color-blackPrimary);
    border: var(--borderWidth-thin) solid var(--borderColor-quarter);
    border-radius: var(--borderRadius-medium);
    min-height: var(--base-size-32);
}

#repo-name-input:focus {
    outline: var(--color-textBlue) solid 2px;
}

#repo-name-suggestion {
    margin: var(--base-size-8) 0;
}

#repo-name-suggestion button {
    background-color: transparent;
    border: none;
}

#repo-description {
    padding-bottom: var(--base-size-16);
    border-bottom: 1px solid rgb(33, 38, 45);
}

#repo-description-input {
    margin-top: var(--base-size-4);
    width: 100%;
    padding: 1px var(--base-size-12);
    background-color: var(--color-blackPrimary);
    border: var(--borderWidth-thin) solid var(--borderColor-quarter);
    border-radius: var(--borderRadius-medium);
    min-width: var(--base-size-32);
}

#repo-description-input:focus {
    outline: var(--color-textBlue) solid 2px;
}

#repo-access {
    padding-bottom: var(--base-size-8);
    margin-bottom: var(--base-size-8);
    border-bottom: 1px solid rgb(33, 38, 45);
}

#repo-access input[type="radio"] {
    appearance: none;
    border: 1px solid var(--borderColor-half);
    border-radius: var(--borderRadius-full);
    height: var(--base-size-16);
    width: var(--base-size-16);
    transition: border-color 80ms linear;
}

#repo-access input[type="radio"]:checked {
    border-color: var(--color-textBlue);
    border-width: var(--base-size-4);

}
#public-repo-icon {
    margin-left: var(--base-size-8);
}

#repo-access-private {
    margin-top: var(--base-size-8);
}

#private-repo-icon {
    margin-left: var(--base-size-8);
}

#repo-setup {
    border-bottom: 1px solid rgb(33, 38, 45);
}

#repo-setup-addReadme {
    margin-top: var(--base-size-4);
    margin-bottom: var(--base-size-16);
}

#addReadme-checkbox {
    appearance: none;
    width: var(--base-size-16);
    height: var(--base-size-16);
    border: var(--borderWidth-thin) solid var(--borderColor-half);
    border-radius: var(--borderRadius-small);
}

#addReadme-checkbox:checked {
    border-color: var(--color-textBlue);
    background-color: var(--color-textBlue);
    color: white;
}

#addReadme-text {
    margin-left: var(--base-size-8);
}

#repo-setup-gitignore {
    margin-bottom: var(--base-size-16);
}

#repo-setup-license {
    margin-bottom: var(--base-size-16);
}

#repo-setup .dropdown-btn {
    margin: var(--base-size-8) 0;
    padding: 0 var(--base-size-8);
    height: var(--base-size-28);
    background-color: var(--color-blackTertiary);
    min-width: fit-content;
    border: var(--borderWidth-thin) solid var(--borderColor-quarter);
    border-radius: var(--borderRadius-medium);
}

#repo-result {
    padding: var(--base-size-16) 0;
    border-bottom: 1px solid rgb(33, 38, 45);
}

#information-icon {
    margin: 0 var(--base-size-4);
}

#repo-submit-button {
    padding: 0 var(--base-size-12);
    margin-top: var(--base-size-16);
    min-width: max-content;
    height: var(--base-size-32);
    background-color: var(--color-btnBlue);
    color: white;
    border: none;
    border-radius: var(--borderRadius-medium);
}

footer {
    max-width: 1012px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--base-size-16);
    padding-right: var(--base-size-16);
    padding-bottom: var(--base-size-40);
}

#footer-container {
    margin-top: var(--base-size-40);
    padding-top: var(--base-size-40);
    padding-bottom: var(--base-size-8);
}

#footer-logo {
    width: 16%;
}

#footer-content {
    width: 66%;
}

#footer-content ul {
    width: 100%;
    list-style-type: none;
}

#footer-content li {
    display: flex;
    align-items: center;
}

#footer-content ul li a {
    text-decoration: none;
}

#footer-content ul li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    #searchButton, #commandPaletteButton {
        display: none;
    }
    #footer-container {
        flex-direction: column;
    }
    #footer-logo {
        width: fit-content;
        order: 1;
        margin-top: var(--base-size-8);
    }
}

@media only screen and (max-width: 426px) {
    #form-container {
        background-color: #161b22;
    }
    form {
        padding-left: var(--base-size-16);
        padding-right: var(--base-size-16);
    }
    #createNewButton-container {
        display: none;
    }
    #issueButton-container {
        display: none;
    }
    #pullRequestButton-container {
        display: none;
    }
    #footer-content {
        width: 100% !important;
    }
    #footer-content ul {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    #footer-content ul li {
        margin-right: 16px;
    }
}