* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-menu {
    position: relative;
    display: inline-block;
    border: 2px solid red;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 2px solid green;
    padding: 8px;
    z-index: 1;
}

.nav-menu:hover .dropdown-content{
    display: block;
}